@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

.title-slide {
  border-left-width: 20px;
  border-left-style: solid;
  border-left-color: rgb(242, 218, 100);
  background-color: black;
}

.logo {
  position: absolute;
  color: white;
  background-color: white;
  max-height: 60px;
}

.top-left {
  top: 10px;
  left: 20px;
}

.top-right {
  top: 10px;
  right: 20px;
}

body {
  font-family: 'Ubuntu', serif;
}

h1, h2, h3 {
  font-family: 'Raleway';
  font-weight: normal;
}
